

.charityList {
  padding: 2rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
}
 
.charityListText{
  position: relative;
  border: thin-green;
  top: -47px;
  background: white;
  padding: 7px;
  width: 106px;
  color: green;
}