@media only screen and(max-width: 600px){

 .main-nav {

 	font-size: 0.5em;
 	padding:0;

 }

}
.search, .buttonn{
	display: flex;
  
	justify-content: center;

}
.icon {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

input[type=text]{
  background-color: white;
  background-image: url('./Images/search_icon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  background-size: 20px;
}